<div class="card">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <i class="fab fa-github fa-3x"></i>
            </div>

            <div class="media-content">
                <p class="title is-4 list-name" data-name="{{ repo.name }}">
                    <a href="{{ repo.url }}">{{ repo.name }}</a>
                </p>

                <p class="subtitle is-6">
                    {% if repo.stars != 0 %}
                        <a href="{{ repo.url }}/stargazers">
                            <i class="fas fa-star"></i> {{ repo.stars }}
                        </a>
                    {% endif %}

                    {% if repo.forks != 0 %}
                        <a href="{{ repo.url }}/network/members">
                            <i class="fas fa-code-branch"></i> {{ repo.forks }}
                        </a>
                    {% endif %}

                    {% if repo.is_fork %}
                        fork
                    {% endif %}
                </p>
            </div>
        </div>

        <div class="content">
            <p>{{ repo.description }}</p>

            <p>
                Commits: <b>{{ repo.total_commits | thousands_separated }}</b><br>
                Updated: <b>{{ repo.updated_at | timeago }}</b><br>
                Created: <b>{{ repo.created_at | date: '%b %Y' }}</b><br>
            </p>
        </div>
    </div>
</div>
