/** Basic **/

html {
  background-color: #333;
}

body {
  height: 100%;
  color: white;
}

.content h1,
.content h2,
.content h3,
.content h4 {
  color: white;
}

/** Footer **/

// Make footer stick to the bottom but only visible when you scroll to the bototm of the page.
body {
  display: flex;
  min-height: 94vh;
  flex-direction: column;
}

#main {
  flex: 1;
}

// Footer social icons.
footer i {
  color: #333;
}

/** List JS **/

/* For columns of cards, remove shadow mainly - override Bulma styling of `list` class, as this is used for ListJS. */
.columns.list {
  background-color: inherit;
  border-radius: inherit;
  box-shadow: inherit;
}

/* Allow search bar to have a reasonable size - override Bulma setting of 100%. */
.search.input {
  width: inherit;
}
