/** Basic **/

html {
  background-color: #333;
}

body {
  height: 100%;
  color: white;
}

.content h1,
.content h2,
.content h3,
.content h4 {
  color: white;
}

/* Using dark background means treating links differently in main.*/
#main {
  a {
    color: cornflowerblue;
  }

  a:hover {
    color: lightskyblue;
  }
}

/* Use the theme's blue on the white bg cards. */
.card {
  a {
    color: #3273dc;
  }

  a:hover {
    color: grey;
  }
}

/** List JS **/

/* For columns of cards, remove shadow mainly - override Bulma styling of `list` class, as this is used for ListJS. */
.columns.list {
  background-color: inherit;
  border-radius: inherit;
  box-shadow: inherit;
}

/* Allow search bar to have a reasonable size - override Bulma setting of 100%. */
.search.input {
  width: inherit;
}
